@import "../../Sass/_variables";

@media (min-width: $mobilebreakpoint){
    #reset-container{
        min-width: 100vw;
        min-height: 100vh;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    #reset-form{
        border: 1px solid $Blk;
        border-radius: 15px;

        padding: 3rem;
    }

    #reset-header{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #reset-btn-container{
        display: flex;
        justify-content: space-around;
        align-items: center;

        margin-top: 1.5rem;
    }

    #success-message{
        color: $GO;
    }
}

@media (max-width: $mobilebreakpoint){

}