@import url("https://api.fontshare.com/v2/css?f[]=general-sans@500,600,400&display=swap");

$genSans: 'General Sans', sans-serif;

$mobilebreakpoint: 900px;

// colors
$GO: #01B763;
$Castleton: #005B31;
$Blk: #0a0908;