@import "/src/Sass/_variables";

@media (min-width: $mobilebreakpoint){
    .widget-container{
        border: 1px solid $Blk;
        border-radius: 15px;

        padding: 1rem;

    }

    #greeting{
        margin: 0rem;
    }

    .btn-container{
        display: flex;
        justify-content: space-around;
    }

    .widget-btn{
        cursor: pointer;

        background-color: $GO;

        border-radius: 15px;

        font-family: $genSans;
    }

    #login-container{
        position: absolute;

        left: 35vw;
        top: 30vh;

        width: 30vw;

        border: 1px solid $Blk;
        border-radius: 15px;

        padding: 1rem;
    }

    #login-form-container{
        display: flex;
        flex-direction: column;


        #login-btn-container{
            display: flex;
            justify-content: space-around;
        }
    }
}

@media (max-width: $mobilebreakpoint){

}