@import "/src/Sass/_variables";

@media (min-width: $mobilebreakpoint){
    .widget-container{
        border: 1px solid $Blk;
        border-radius: 15px;

        padding: 1rem;

    }

    #greeting{
        margin: 0rem;
    }

    .btn-container{
        display: flex;
        justify-content: space-around;
    }

    .widget-btn{
        cursor: pointer;

        background-color: $GO;

        border-radius: 15px;

        font-family: $genSans;
        font-weight: 600;
    }

    .widget-btn:hover{
        background-color: $Castleton;
    }

    #login-reg-header{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .login-reg-submit{
        width: 25%;
    }

    #login-container{
        position: absolute;

        left: 35vw;
        top: 30vh;

        width: 30vw;

        border: 1px solid $Blk;
        border-radius: 15px;

        padding: 1rem;

        h5{
            margin-top: 0em;
        }
    }

    #login-form-container{
        display: flex;
        flex-direction: column;


        #login-btn-container{
            display: flex;
            justify-content: space-around;
            
            margin-top: 1rem;
        }
    }

    .close-btn{
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        border-radius: 50%;
        border: 1px solid $Blk;
        padding: 0em;
    }
}

@media (max-width: $mobilebreakpoint){

}