@import "/src/Sass/_variables";

@media (min-width: $mobilebreakpoint){
    #cart-contents{
        border: 1px solid black;
        box-shadow: inset 0px 0px 10px grey;
        border-radius: 15px;
        width: 98%;
        height: 98%;

        display: flex;
        flex-direction: column;

        overflow-y: scroll;
    }

    //hides scrollbar but keeps overflow: scroll functionality
    #cart-contents::-webkit-scrollbar{
        display: none;
    }
}

@media (max-width: $mobilebreakpoint){

}