@import "/src/Sass/_variables";

@media (min-width: $mobilebreakpoint){
    #cart-item-container{
        border: 1px solid $GO;
        background-color: white;
        padding: 0rem 0.5rem;

        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    #cart-item-container:first-child{
        border-radius: 8px 8px 0px 0px;
    }

    #cart-item-container:last-child{
        border-radius: 0px 0px 8px 8px;
    }
    
    .flex-space-between{
        display: flex;
        justify-content: space-between;
        align-items: center;

        width: 100%;

        #desc-container{
            display: flex;
            flex-direction: column;
        }
    }

    #item-name{
        font-size: 18px;
    }

    span:nth-child(2){
        font-weight: 100;
        font-size: 16px;
    }

    #info-container{
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        font-size: 18px;
    }

    .cart-delete-btn{
        margin-right: 0.5rem;
    }
}

@media (max-width: $mobilebreakpoint){

}