@import "/src/Sass/_variables";

@media (min-width: $mobilebreakpoint){
    #confirm-sub-container{
        background-color: white;

        #confirm-sub-content{
            display: flex;
            flex-direction: column;

            span:nth-child(1){
                font-size: 28px;
                color: $GO;
                -webkit-text-stroke-width: 0.5px;
                -webkit-text-stroke-color: $Blk;
            }
            span:not(:nth-child(1)){
                font-size: 16px;
            }
        }

        #confirm-sub-actions{
            display: flex;
            justify-content: space-around;
            align-items: center;

            margin-top: 1rem;
        }
    }
}

@media (max-width: $mobilebreakpoint){

}