@import "/src/Sass/_variables"; 

@media (min-width: $mobilebreakpoint){
    .main-container{
        width: 92vw;
        height: 100vh;
        padding-right: 1em;
        padding-left: 0em;
    }

    .main-top-bar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 1em;
    }

    #admin-btn{
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;

        font-family: $genSans;
        font-weight: 600;

        background-color: transparent;
        border: 1px solid $Blk;
        border-radius: 15px;

        padding: 0.5em;
    }
}

@media (max-width: $mobilebreakpoint){

}