@import "/src/Sass/_variables";

@media (min-width: $mobilebreakpoint){
    .widget-container{
        border: 1px solid $Blk;
        border-radius: 15px;

        padding: 1rem;
        min-width: 15vw;
    }

    #greeting{
        margin: 0rem;
    }

    #signed-in-container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 15vw;

        button{
            width: 100%;
        }

        button:nth-child(1){
            margin: 0rem 0rem 0.5rem 0rem;
        }
    }

    .btn-container{
        display: flex;
        justify-content: space-around;
        flex-direction: column;
    }

    .widget-btn{
        cursor: pointer;

        background-color: transparent;

        border: 2px solid $GO;
        border-radius: 15px;

        // box-shadow: 1px 1px 5px $Castleton;

        font-family: $genSans;
        font-weight: 600;
    }

    .widget-btn:hover{
        box-shadow: inset 1px 1px 5px grey;
    }

    #login-reg-header{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .login-reg-submit{
        width: 25%;
    }

    #login-container{
        position: absolute;

        z-index: 10;

        background-color: white;

        left: 35vw;
        top: 20vh;

        width: 30vw;

        border: 1px solid $Blk;
        border-radius: 15px;

        padding: 1rem;

        h5{
            margin-top: 0em;
        }
    }

    #login-form-container{
        display: flex;
        flex-direction: column;


        #login-btn-container{
            display: flex;
            justify-content: space-around;
            
            margin-top: 1rem;
        }
    }

    .close-btn{
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        border-radius: 50%;
        border: 1px solid $Blk;
        padding: 0em;
    }

    .close-btn:hover{
        box-shadow: inset 1px 1px 10px grey;
    }

    .alert{
        font-size: 18px;
        color: red;
    }
}

@media (max-width: $mobilebreakpoint){

}