@import "/src/Sass/_variables";

@media (min-width: $mobilebreakpoint){
    #cart-container{
        border: 1px solid $Blk;
        box-shadow: 0px 0px 10px grey;
        background-color: white;
        border-radius: 15px 15px 0px 0px;

        position: absolute;
        padding: 0.5rem 1rem;
        right: 2.5rem;
        bottom: 0;
        z-index: 10;
        min-width: 320px;
        max-width: 320px;
        max-height: 760px;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    
    #cart-header-container{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 0.25rem;
    }

    .style-free-btn{
        background-color: transparent;
        border: none;
        cursor: pointer;
        padding: 0rem;
        margin: 0rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #nothing-msg-container{
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $GO;
        -webkit-text-stroke-width: 0.5px;
        -webkit-text-stroke-color: $Blk;
    }

    .error-msg{
        font-weight: 500;
        font-size: 18px;
        color: red;
    }

    #cart-popup-container{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    #cart-popup-content{
        display: flex;
        flex-direction: column;
        
        span:nth-child(1){
            font-size: 28px;
            color: $GO;
            -webkit-text-stroke-width: 0.5px;
            -webkit-text-stroke-color: $Blk;
        }
        span:not(:nth-child(1)){
            font-size: 16px;
        }
    }

    #cart-popup-actions{
        display: flex;
        flex-direction: column;
        margin-top: 2rem;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: $mobilebreakpoint){

}