@import "/src/Sass/_variables";

@media (min-width: $mobilebreakpoint){
    #cart-container{
        border: 1px solid black;
        background-color: white;
        border-radius: 15px 15px 0px 0px;

        position: absolute;
        padding: 0.5rem 1rem;
        right: 2.5rem;
        bottom: 0;
        z-index: 10;
        min-width: 320px;
        max-height: 760px;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
    }
    
    #cart-header-container{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

@media (max-width: $mobilebreakpoint){

}