@import "/src/Sass/_variables";

@media (min-width: $mobilebreakpoint){
    
    ::-webkit-scrollbar{
        width: 0.5vw;
        //maybe change?
        display: none;
    }


    ::-webkit-scrollbar-button{
        
    }

    ::-webkit-scrollbar-thumb {
        background: $GO;
        border-radius: 15px;
        box-shadow: inset 0px 0px 5px grey;
    }

    ::-webkit-scrollbar-track{
        box-shadow: inset 0 0 5px grey;
        border-radius: 15px;
        margin: 1rem 0rem 1rem 0rem;
    }
    
    #category-menu-container{
        display: flex;
        flex-direction: column;
        border-radius: 0px 15px 15px 0px;

        box-shadow: 0px 0px 5px $Blk;

        padding: 0.5rem 0.5rem;
        background-color: white;
    }
    
    #category-ul{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: calc(100% - 1rem);
        height: 100%;
        border-radius: 0px 10px 10px 0px;
        padding: 0.5rem;
        margin: 0rem;
        box-shadow: inset 0px 0px 5px $Blk;
        overflow-y: scroll;
    }

    .category-list-item{
        cursor: pointer;
        list-style-type: none;

        padding: 0.5rem 0rem 0.5rem 0.5rem;
        border-radius: 0px 15px 15px 0px;
        border-left: 2px solid black;

        display: flex;
        justify-content: flex-start;
        align-items: center;

        span{
            font-weight: 500;
        }
    }

    .category-list-item:not(:last-child){
        margin-bottom: 1rem;
    }

    .category-list-item:focus-visible{
        border: 1px solid $GO;
    }

    .category-name-desc{
        margin-left: 0.5rem;
    }

    .category-img{
        width: 20%;
        border-radius: 15px;
    }

    .arrow-icon{
        cursor: pointer;
        color: $GO;
        border-radius: 50%;
    }

    .spaced-span{
        margin: 1rem 0rem 1rem 0rem;
    }

    .white-on-black{
        font-size: 28px;
        font-weight: 400;
        color: white;
        background-color: $Blk;
        border: 4px solid $GO;
        width: calc(100% - 1rem - 8px);
        padding: 0.5rem 0rem 0.5rem 1rem;
        border-radius: 0px 10px 10px 0px;
    }
}

@media (max-width: $mobilebreakpoint){

}