@import "/src/Sass/_variables";

@media (min-width: $mobilebreakpoint){
    #item-container{
        height: 82vh;
        width: 100%;
        padding: 0.5rem;
        margin-left: 0.5rem;
        overflow-y: scroll;

        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
}

@media (max-width: $mobilebreakpoint){

}