@import "/src/Sass/_variables";

@media (min-width: $mobilebreakpoint){
    #item-container{
        height: 82vh;
        width: 100%;
        padding: 0.5rem;
        margin-left: 0.5rem;
        overflow-y: scroll;

    }

    .item-display-box{
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: flex-start;
    }
}

@media (max-width: $mobilebreakpoint){

}